@import 'tailwindcss';
@config "../../tailwind.config.js";

@property --scrollbar {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}

.light,
:root,
[data-theme='light'] {
    --default-foreground: #000000;
}

.dark,
[data-theme='dark'] {
    --default-foreground: #ffffff;
}

@theme inline {
    --color-primary-50: #002437;
    --color-primary-100: #003956;
    --color-primary-200: #004d76;
    --color-primary-300: #006296;
    --color-primary-400: #0077b6;
    --color-primary-500: #2d8fc3;
    --color-primary-600: #59a7d0;
    --color-primary-700: #86bedc;
    --color-primary-800: #b3d6e9;
    --color-primary-900: #dfeef6;
    --color-primary-foreground: #fff;
    --color-primary: #0077b6;

    --color-secondary-50: #240c3c;
    --color-secondary-100: #39135f;
    --color-secondary-200: #4e1a82;
    --color-secondary-300: #6321a5;
    --color-secondary-400: #7828c8;
    --color-secondary-500: #904ed2;
    --color-secondary-600: #a773db;
    --color-secondary-700: #bf99e5;
    --color-secondary-800: #d7bfef;
    --color-secondary-900: #eee4f8;
    --color-secondary-foreground: #fff;
    --color-secondary: #7828c8;

    --color-success-50: #073c1e;
    --color-success-100: #0b5f30;
    --color-success-200: #0f8341;
    --color-success-300: #13a653;
    --color-success-400: #17c964;
    --color-success-500: #40d27f;
    --color-success-600: #68dc9a;
    --color-success-700: #91e5b5;
    --color-success-800: #b9efd1;
    --color-success-900: #e2f8ec;
    --color-success-foreground: #000;
    --color-success: #17c964;

    --color-warning-50: #4a320b;
    --color-warning-100: #744e11;
    --color-warning-200: #9f6b17;
    --color-warning-300: #ca881e;
    --color-warning-400: #f5a524;
    --color-warning-500: #f7b54a;
    --color-warning-600: #f9c571;
    --color-warning-700: #fad497;
    --color-warning-800: #fce4bd;
    --color-warning-900: #fef4e4;
    --color-warning-foreground: #000;
    --color-warning: #f5a524;

    --color-danger-50: #49051d;
    --color-danger-100: #73092e;
    --color-danger-200: #9e0c3e;
    --color-danger-300: #c80f4f;
    --color-danger-400: #f31260;
    --color-danger-500: #f53b7c;
    --color-danger-600: #f76598;
    --color-danger-700: #f98eb3;
    --color-danger-800: #fbb8cf;
    --color-danger-900: #fee1eb;
    --color-danger-foreground: #fff;
    --color-danger: #f31260;

    --radius-5xl: 2.5rem;
}

html {
    font-family: 'Open Sans Variable', sans-serif;
    container-type: inline-size;
}

body {
    --scrollbar: calc(100vw - 100cqw);
}

@utility section-mask-x {
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
    );
}

@utility section-mask-r {
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 70%,
        transparent 100%
    );
}

@utility section-mask-l {
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 100%
    );
}

@layer utilities {
    .mr-break-out {
        @apply max-w-6xl -mr-[calc((50vw-var(--scrollbar)/2)-50%)];
    }

    .ml-break-out {
        @apply max-w-6xl -ml-[calc((50vw-var(--scrollbar)/2)-50%)];
    }

    .mx-break-out {
        @apply max-w-6xl -mx-[calc((50vw-var(--scrollbar)/2)-50%)];
    }
}
